@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body { 
    background-color: #0D1117;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: block;
    margin: auto;
    margin: 20vh 0;
}

header > h1{
    text-align: center;
    font-weight: 500;
    font-size: 9vh;
}

header > h2 {
    margin-top: 5vh;
    text-align: center;
    font-weight: 300;
    font-size: 5vh;
}

header img {
    width: 20vw;
    display: block;
    margin: auto;
    background-color: white;
    border-radius: 43%;
}

main { 
    background-color: #262C36;
    padding: 3vh 0;
}


main h1, h2, p{
    margin: 0 20vw 0 20vw;
}

main p {
    font-size: 1.2em;
    font-weight: 350;
    text-align: justify;
    text-indent: 40px;
    padding: 15px 0 15px 0;
}

main h1 {
    font-size: 2.5em;
    font-weight: 700;
}

main h2 {
    font-size: 2em;
    font-weight: 600;
}

main p#nota {
    font-style: italic;
    text-indent: 0px;
    font-size: 1em;
    font-weight: 300;
    text-align: left;
    padding: 15px 0 15px 0;
}

main img{
    width: 43vw;
    display: block;
    margin: auto;
}


img.media {
    width: 33vw;
    display: block;
    margin: auto;
}
#grande {
    width: 83vw;
    display: block;
    margin: auto;
}

main a {
    color: rgb(109, 109, 219);
}
