@charset "UTF-8";

/* FONTES NO DOCUMENTO
--Lato
--Source Code Pro
--Maven Pro
--Rubik

*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Maven+Pro:wght@400..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}



body {
    background-color: rgb(46, 46, 46);
    color: white;
    font-family: Helvetica, sans-serif;
    justify-content: center;
}

header{
    background-color: black;
    height: 100vh;
    width: 99vw;
    text-align: center;
}

header h1 {
    padding-top: 150px;
    text-align: center;
    margin: auto;
    font-size: 6.1em;
    color: white;
}

header img {
    width: 300px;
    height: 300px;
}

div.cima {
    position: relative;
    background-image: url('../imagens/foto-real.png');
    background-size: 295px;
    background-repeat: no-repeat;
    background-position: center center;
}

div img {
    transition-duration: 0.5s;
}

div img:hover {
    opacity: 0;
}


aside.imagem {
    margin: auto;
}

.seção {
    width: 99vw;
    background-color: rgb(255, 255, 255);
    margin: auto;
}

section.seção h1 {
    font-size: 5em;
    margin-left: 30px;
    text-align: left;
}
.seção p {
    font-family: 'Source Code Pro';
    font-size: 1.7em;
    margin-left: 30px;
    margin-right: 100px;
    text-indent: 50px;
    text-align: justify;
}
.seção img { 
    margin: 0 10vw 0 35vw;
    padding-left: 2vw;
    width: 25vw;

}
.seção p, h1, h2 {
    color: black;
}

.seção h2 {
    font-size: 4em;
    margin-left: 30px;
    text-align: left;
    padding-top: 20px;
}

p#endquemsou {
    padding-bottom: 50px;
}

p.legenda  {
    font-size: 1em;
    text-align: center;
    font-style: italic;
}

section#projetos {
    background-color: #e0e0e0;
    width: 99vw;
    padding-bottom: 50px;
}