@charset "UTF-8";

/* FONTES NO DOCUMENTO
--Lato
--Source Code Pro
--Maven Pro
--Rubik
--Noto Sans
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Maven+Pro:wght@400..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}



body {
    background-color: rgb(46, 46, 46);
    color: white;
    font-family: Helvetica, sans-serif;
    justify-content: center;
    overflow-x: hidden;
}

header{
    background-color: black;
    height: 100vh;
    width: 99vw;
    text-align: center;
}

header h1 {
    padding-top: 150px;
    text-align: center;
    margin: auto;
    font-size: 5.1vw;
    color: white;
}

header img {
    width: 15.5vw;

}

div.cima {
    position: relative;
    background-image: url('../imagens/foto-real.png');
    background-size: 15.4vw;
    background-repeat: no-repeat;
    background-position: center center;
}

div.cima img {
    transition-duration: 0.5s;
}

div.cima img:hover {
    opacity: 0;
}


aside.imagem {
    margin: 0 auto 0 auto;
    display: block;
}

.seção {
    width: 99.1vw;
    background-color: rgb(255, 255, 255);
    
}

#quemsou h1, h2 {
    color: black;

}

section.seção h1 {
    padding: 10px;
    font-size: 4em;
    text-align: left;
    margin: 0 500px 0 500px;
}
.seção p {
    font-family: 'Source Code Pro';
    font-size: 1.3em;
    text-indent: 50px;
    text-align: justify;
    margin: 0 500px 0 500px;
    font-weight: normal;
    
}

.seção img { 
    margin: 0 auto 0 auto;
    display: block;
    width: 25vw;

}

img#perfil{
    width: 10vw;
}

img#canalyt {
    width: 50vw;
    margin: 0 10vw 0 0vw;
}

article {
    min-width: 300px;
    max-width: 1000px;
    background-color: rgba(rgba(0, 0, 0, 0));
}

section#quemsou > p, h1, h2, h3, h4 {
    color: black;
}

section h2 {
    font-size: 3em;
    margin-left: 30px;
    text-align: left;
    padding: 10px;
    margin: 0 500px 0 500px;
}

section h3 {
    font-size: 3em;
    margin-left: 30px;
    text-align: left;
    padding-top: 20px;
    margin: 0 500px 0 500px;
}


p#endquemsou {
    padding-bottom: 20px;
}

p.legenda  {
    font-size: 1em;
    text-align: center;
    font-style: italic;
    margin: 0 auto 0 auto;
    padding-bottom: 20px;
    color: black;;
    min-width: 300px;
    max-width: 1000px;
}

section#projetos {
    background-color: #e0e0e0;
    width: 99.1vw;
    padding-bottom: 50px;
    color: black;
}

section#projetos p, h1, h2, h3{
    color: black;
}

#curiosidades {
    color: rgb(0, 0, 0);
}

h3.link {
    text-align: center;
    padding-bottom: 30px;
    color: blue;
}

iframe {
    min-width: 300px;
    max-width: 1000px;
}


iframe#youtube {
    margin: 0 auto 0 auto;
    display: block;
    width: 900px;
    height: 500px;
}

iframe#prc {
    margin: 0 auto 0 auto;
    display: block;
    width: 20vw;
}


ul, li {
    color: black;
    font-family: 'Source Code Pro';
    text-align: justify;
    font-size: 1.2em;
    margin: 0 300px 0 300px;
}

section#curiosidades {
    background-color: #b0a5f7;
    width: 99.1vw;
    padding-bottom: 50px;
}

section#final {
    background-color: #000000;
    width: 99.1vw;
    color: white;
    padding-bottom: 100px;
}


#final h1, #final h2, #final ul, #final li {
    color: white;
}

#final li {
    margin-left: 250px;
    font-size: 0.9em;
    color: blue;
}

img {
    max-width: 100%;
}

img#discord {
    width: 25%;
    margin: 0 0 0 250px;
}

img.grande {
    max-width: 100%;
    margin: auto;
}

img#fp {
    width: 10%;
}

img#yt {
    width: 10%;
}

img#chars {
    width: 45vw;
}


@media only screen and (max-width: 1800px) and (min-width: 1300px){
    
    header h1 {
        padding-top: 150px;
        text-align: center;
        margin: auto;
        color: white;
    }
    
    header img {
        width: 10vw;
    
    }

    div.cima {
        position: relative;
        background-image: url('../imagens/foto-real.png');
        background-size: 10vw;
        background-repeat: no-repeat;
        background-position: center center;
    }
    

    .seção p, section.seção h1, section h2, section h3, ul, li{
        margin: 0 150px 0 150px;
    }

    #final ul, #final li {
        margin: 0 300px 0 300px;
        text-align: left;
    }


    section img{
        width: 50%;
        margin: 0 50px 0 50px;
    }
    
    img.grande {
        width: 30%;
        max-width: 50%;
    }


}



@media only screen and (max-width: 1300px){
    
    header h1 {
        padding-top: 150px;
        text-align: center;
        margin: auto;
        color: white;
    }
    
    header img {
        width: 30vw;
    
    }

    div.cima {
        position: relative;
        background-image: url('../imagens/foto-real.png');
        background-size: 64.7vw;
        background-repeat: no-repeat;
        background-position: center center;
    }
    

    .seção p, section.seção h1, section h2, section h3, ul, li{
        margin: 0 50px 0 50px;
    }

    #final ul, #final li {
        margin: 0 50px 0 50px;
        text-align: left;
    }


    section img{
        width: 50%;
        margin: 0 50px 0 50px;
    }

    img#fp {
        width: 50vw;
    }

    section h1{
        font-size: 3em
    }


    #curiosidades h1 {
        font-size: 3em;
    }
    
    section h2 {
        font-size: 2em;
    }

    img.grande {
        width: 30%;
        max-width: 30%;
    }

    iframe {
        text-align: center;
        max-width: 500px;
    }

    img#PSN {
        width: 60%;
    }

    iframe#youtube {
        margin: 0 auto 0 auto;
        display: block;
        width: 20vw;
        height: 500px;
    }
    iframe#prc {
        margin: 0 auto 0 auto;
        display: block;
        width: 60%;
    }
    img#discord {
        width: 60%;
        margin: 0 50px 0 50px;
    }

    img#chars {
        width: 80%;

    }

    img#pato {
        width: 100vh;
    }

    div.cima {
        background-size: 30vw;
    }
}
