@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cormain: #D2545E;
}

body {
    background-color: var(--cormain);
    color: white;
    font-family: 'Lato';
    text-align: center;
}

img {
    padding: 5px;
    object-fit: cover;
}

header{
    background-color: var(--cormain);
    height: 30vw;
    padding-bottom: 470px;
    width: 98vw;
}

header img {
    padding: 30px 0 0px 0;

}

header h1 {
    font-size: 3vw;
    margin: auto;
    padding: 10px;
}

header p {
    padding-top: 30px;
    font-size: 2.7vw;
    margin: 0 120px 300px 120px;
    padding-bottom: 10px;
}

main img {
    max-width: 950px;
}

section {
    width: 100%;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}

main p {
    margin: 0 500px 0 500px;
    max-width: 950px;
}

main iframe {
    padding: 20px 0 20px 0;
}

/*main p {
    line-height: 1em;
}*/

section h2 {
    font-size: 4.5em;
}

section h3 {
    font-size: 2.9em;
}

section p {
    font-size: 1.5em;
    padding: 10px;
    margin: auto;
}

section#cap1 {
    background-color: hsl(113, 58%, 40%);
    width: 100%;
}

section#cap2 {
    background-color: hsl(197, 58%, 40%);
    width: 100%;
}

section#cap3 {
    background-color: hsl(0, 58%, 40%);
    width: 100%;
}

section#Dead {
    background-color: #436573;
}

main#s3 {
    background: #436573 url(../imagens/Backgrounds/Cap\ 3.png) no-repeat fixed;
    background-size: cover;
    background-attachment: fixed;
}

main#s4 {
    background-color: #436573;
    background: #436573 url(../imagens/Backgrounds/Mortos\ na\ Água.png) no-repeat fixed;
    background-size: cover;
    font-family: 'Exo 2';
}

main#s4 h2 {
    font-family: 'Bebas Neue';
    font-weight: normal;
}

main#s4 h3 {
    font-family: 'Bebas Neue';
    font-weight: normal;
}



footer {
    background-color: #D2545E;
    font-size: 19px;
}