@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor001: #F9E6CF;
}

/* FONTES NESTE DOCUMENTO
- Jost
*/

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Jost';
    font-weight: 400;
    background-color: var(--cor001);

}

header h1 {
    font-weight: 400;
    font-size: 9vh;
    margin: 0 20vw 0;
    text-align: center;
    margin-top: 40vh;
    margin-bottom: 30vh;
}
header {
    height: 90vh;

}

main {
    padding-top: 2vh;
    background-color: white;
    padding-bottom: 10vh;

}

main h1 {
    font-size: 2em;
    font-weight: 500;
}

main p {
    font-size: 1.3em;
    font-weight: 350;
    text-align: justify;
    text-indent: 40px;
}

main h1, p {
    margin: 0 23vw 0 23vw;
}